.workshop_banner::-webkit-scrollbar {
  display: none;
}

.workshop_banner {
  -ms-overflow-style: none;  
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll; 
}



.banner {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.banner.show {
  opacity: 1;
}