.workshop_banner {
  height: 30vw;
  width: 100%;
  background-color: black;
  padding: 0;
}

.banner {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.banner.show {
  opacity: 1;
}
.box {
  height: 500px;
  width: 500px;
  background-color: red;
}
